.box {
  /* margin: 2em 5em; */
  border: 5px groove var(--secondary-color);
  border-radius: 10px;
  padding: 2em;
  display: grid;
  width: 1000px;
  grid-template-columns: 500px 500px;
  /* justify-content: center;
  align-items: center; */
  height: 250px;

  place-items: center;
  place-content: center;

  /* display: flex;
  flex-direction: row;
  height: 250px;
  align-items: center; */
}

.container {
  display: flex;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
}

h2 {
  font-size: 1.2em;
}

ul {
  list-style: circle;
}

.left {
  margin-left: 9em;
}

.right-img {
  /* margin-left: 10em; */
}

.right-txt {
  /* margin-left: 10em; */
}

.info-container {
  width: 400px;
}
