.box {
  /* background-color: var(--primary-color); */
  margin: 2em 5em;
  border: 1px solid black;
}

.img-container {
  background-color: var(--primary-color);
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

img {
  height: 100px;
  width: 100px;
}

.img {
  height: 400px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
}

.info-container {
  margin-top: 6em;
}

.info-container > h2 {
  font-size: 1.2em;
}

ul {
  list-style: circle;
}
