<div class="box">
    <div class="img-container">
        <img src="../../assets/Icons/books-stack-of-three.png" alt="">
    </div>
</div>



<div class="container">
  <div class="info-container">
    <h2>Book Management</h2>
    <p>Easily manage books in the system...</p>
    <ul>
      <li>Add, update, & delete</li>
      <li>Access to the book details</li>
      <li>Manage books with multiple copies</li>
      <li>Tracking options (location & status)</li>
      <li>Stock control options (high demand & low use books)</li>
    </ul>
  </div>
  <img
    src="../../assets/Images/wizard.png"
    alt="Sticker of Books"
    class="img"
  />
</div>

<div class="container">
  <img
    src="../../assets/Images/user.png"
    alt="Sticker of Books"
    class="img"
  />
  <div class="info-container">
    <h2>User Management</h2>
    <p>Easily manage users in the system...</p>
    <ul>
      <li>Create, delete, edit user profiles</li>
      <li>Access to the user details</li>
      <li>Access to user activity and history</li>
      <li>Tracking options (fine & status)</li>
    </ul>
  </div>
</div>
