<div class="container">
  <div class="box">
    <div class="img-container left">
      <img src="../../assets/Icons/books-stack-of-three.png" alt="" />
    </div>
    <div class="info-container right-txt">
      <h2>Book Management</h2>
      <p>Easily manage books in the system...</p>
      <ul>
        <li>Add, update, & delete</li>
        <li>Access to the book details</li>
        <li>Manage books with multiple copies</li>
        <li>Tracking options (location & status)</li>
        <li>Stock control options (high demand & low use books)</li>
      </ul>
    </div>
  </div>
</div>

<div class="box">
  <div class="info-container left">
    <h2>User Management</h2>
    <p>Easily manage users in the system...</p>
    <ul>
      <li>Create, delete, edit user profiles</li>
      <li>Access to the user details</li>
      <li>Access to user activity and history</li>
      <li>Tracking options (fine & status)</li>
    </ul>
  </div>
  <div class="img-container right-img">
    <img src="../../assets/Icons/people.png" alt="" />
  </div>
</div>
