.containor {
  display: flex;
  flex-direction: column;
}

.upper-bar {
  background-color: var(--secondary-color);
  height: 4vh;
}

.bg-img {
  background-image: url(../../assets/Images/book-with-flowers.jpg);
  height: 96vh;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}

.logo-info-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 5px;
}

.welcome-page-logo {
  margin-left: 1em;
  margin-top: 4vh;
  margin-right: 1em;
}

.info-container {
  position: absolute;
  text-align: center;
  align-self: center;
  top: 28%;
}

.welcome-title {
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 0;
}

.tag-line {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 3em;
}

.sign-up-tag {
  font-size: 0.8em;
  margin-top: 1.5em;
}

.signup {
  text-decoration: underline;
  color: black;
}
