<div class="containor">
  <div class="upper-bar"></div>
  <div class="bg-img"></div>

  <div class="logo-info-container">
    <h1 class="title">Heart_Lib</h1>
    <img
      src="../../assets/Icons/logo.png"
      alt="Logo of books"
      class="logo welcome-page-logo"
    />
  </div>

  <div class="info-container">
    <p class="welcome-title">Welcome to Heart_Lib</p>
    <p class="tag-line">Read to your heart’s content...</p>
    <a routerLink="/login" class="link-primary">Login</a>
    <p class="sign-up-tag">
      Don’t have an account? <a href="#" class="signup">Sign Up</a>
    </p>
  </div>
</div>

<!-- 
  * Responsive design
 -->
