<div class="upper-bar"></div>
<div class="container">
  <a class="logo-container" href="/adminHome">
    <img src="../../assets/Icons/logo.png" alt="Logo of Books" class="logo" />
    <h1 class="title">Heart_Lib</h1>
  </a>
  <nav>
    <ul class="nav-bar">
      <li class="nav-item">
        <a href="/adminHome" [ngClass]="{ active: activated.home }"
          >Home Page</a
        >
      </li>
      <li class="nav-item">
        <a href="/bookManagement" [ngClass]="{ active: activated.book }"
          >Book Management</a
        >
      </li>
      <li class="nav-item">
        <a href="/userManagement" [ngClass]="{ active: activated.user }"
          >User Management</a
        >
      </li>
      <li class="nav-item">
        <a href="/reportGeneration" [ngClass]="{ active: activated.report }"
          >Report Generation</a
        >
      </li>
    </ul>
  </nav>
</div>
<!-- 
  * Responsive design
 -->
