.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-top: 0.5em;
  text-decoration: none;
}

.title {
  margin-left: 0.5em;
  margin-top: 0;
}

.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}

.nav-item {
  margin-left: 1em;
  padding: 0 1em;
}

.nav-item > a {
  color: black;
  text-decoration: none;
}

.nav-item:hover {
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.active {
  font-weight: bold;
}
